body {
    font-family: Arial, sans-serif;
    background-image: url('img/images1.png');
    margin: 0;
    padding: 20px;
    transition: background 0.5s, color 0.5s;
}

body.dark-mode {
    background-image: url('img/dark_background.png');
    color: #fff;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

h1 {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #014d32;
    animation: slideDown 8s linear;
}

body.dark-mode h1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.5s, box-shadow 0.5s;
}

body.dark-mode form {
    background: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

body.dark-mode label {
    color: #fff;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
}

body.dark-mode input[type="text"], 
body.dark-mode input[type="email"], 
body.dark-mode select {
    background: #444;
    color: #fff;
    border-color: #555;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #017143;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background 0.5s;
}

button:hover {
    background-color: #014d32;
    transform: scale(1.1);
}

body.dark-mode button {
    background-color: #014d32;
}

body.dark-mode button:hover {
    background-color: #017143;
}

#modeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #017143;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#modeToggle:hover {
    background: #014d32;
}
